/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.header-logo{
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

span{
    font-size: 32px;
}

.header-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-form-input{
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 0px;
    outline: none;
    margin-right: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 15px;
    color: #000;
}

.header-form-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 15px;
    color: #999999;
} */