/* .home h1{
    text-align: center;
    margin: 10px 0;
}

.blog-prev{
    width: 350px;
    padding: 10px 16px;
    margin: 10px 20px;
    border-bottom: 1px solid #e07575;
}

.blog-prev:hover{
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.blog-prev h2{
    font-size: 20px;
    margin-bottom: 8px;
    color: #707890;
} */